<section>
  <div class="container">
    <form class="d-flex" role="search">
      <button class="btn btn-outline-success" type="submit">Search</button>

      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </form>
  </div>
</section>
<section class="slide">
  <div class="container">
    <div class="slide-background">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="slide-anh">
              <div
                id="carouselExampleInterval"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img
                      src="../assets/anh-slide/banner-slide3.webp"
                      class="d-block"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img
                      src="../assets/anh-slide/anh-slide2.webp"
                      class="d-block"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="../assets/anh-slide/iPhone-14-Pro.png"
                      class="d-block"
                      alt="..."
                    />
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleInterval"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleInterval"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
          <div class="conten-slide">
            <div class="row">
              <div class="col-3">
                <div class="lienket-slide">
                  <p>Iphon 14 Pro Max</p>
                  <p>chỉ từ: 30.999.000 $</p>
                </div>
              </div>
              <div class="col-3">
                <div class="lienket-slide">
                  <p>Iphon 14 Pro Max</p>
                  <p>chỉ từ: 30.999.000 $</p>
                </div>
              </div>
              <div class="col-3">
                <div class="lienket-slide">
                  <p>Iphon 14 Pro Max</p>
                  <p>chỉ từ: 30.999.000 $</p>
                </div>
              </div>
              <div class="col-3">
                <div class="lienket-slide">
                  <p>Iphon 14 Pro Max</p>
                  <p>chỉ từ: 30.999.000 $</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="phukien">
            <a href="">
              <img
                class="phukien-img"
                src="../assets/anh-phukien-giamgia/tainghe-2.jpeg"
                alt=""
              />
            </a>
          </div>
          <div class="phukien">
            <a href="">
              <img
                class="phukien-img"
                src="../assets/anh-phukien-giamgia/giamgia-iphone-12.jpeg"
                alt=""
              />
            </a>
          </div>
          <div class="phukien">
            <a href="">
              <img
                class="phukien-img"
                src="../assets/anh-phukien-giamgia/BLOG-1_7ed65a30-5d0f-4744-b606-396e2afcc3d7_1024x.webp"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <h4 class="title-thuonghieu">THƯƠNG HIỆU ĐỘC QUYỀN</h4>
      <hr />
      <div class="col-3">
        <img
          src="../../assets/anh-slide/thuonghieu1.jpeg"
          alt=""
          class="img-thuonghieu"
        />
      </div>
      <div class="col-3">
        <img
          src="../../assets/anh-slide/thuonghieu2.jpeg"
          alt=""
          class="img-thuonghieu"
        />
      </div>
      <div class="col-3">
        <img
          src="../../assets/anh-slide/thuonghieu3.jpeg"
          alt=""
          class="img-thuonghieu"
        />
      </div>
      <div class="col-3">
        <img
          src="../../assets/anh-slide/thuonghieu4.jpeg"
          alt=""
          class="img-thuonghieu"
        />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <h4 class="title-thuonghieu">SẢN PHẨM HÓT NHẤT THÁNG</h4>
      <hr />
      <div class="col-3">
        <img
          src="../../assets/anh-slide/sanphamhot1.jpeg"
          alt=""
          class="img-thuonghieu"
        />
      </div>
      <div class="col-3">
        <img
          src="../../assets/anh-slide/sanphamhot2.png"
          alt=""
          class="img-thuonghieu"
        />
      </div>
      <div class="col-3">
        <img
          src="../../assets/anh-slide/sanphamhot3.jpeg"
          alt=""
          class="img-thuonghieu"
        />
      </div>
      <div class="col-3">
        <img
          src="../../assets/anh-slide/sanphamhot4.jpeg"
          alt=""
          class="img-thuonghieu"
        />
      </div>
    </div>
  </div>
</section>

<section class="title">
  <div class="container">
    <hr />
    <div class="row">
      <div class="col-3">
        <a class="nav-link" href="#trangchu"
          ><button
            type="button"
            class="btn btn-outline-warning"
            id="sanpham-btn"
          >
            All SP
          </button></a
        >
      </div>
      <div class="col-3">
        <a class="nav-link" href="#iphon14"
          ><button
            type="button"
            class="btn btn-outline-warning"
            id="sanpham-btn"
          >
            iphone 14
          </button></a
        >
      </div>
      <div class="col-3">
        <a class="nav-link" href="#iphon13"
          ><button
            type="button"
            class="btn btn-outline-warning"
            id="sanpham-btn"
          >
            iphone 13
          </button></a
        >
      </div>
      <div class="col-3">
        <a class="nav-link" href="#iphon12"
          ><button
            type="button"
            class="btn btn-outline-warning"
            id="sanpham-btn"
          >
            iphone 12
          </button></a
        >
      </div>
    </div>
  </div>
</section>
<section class="sanpham">
  <div class="container">
    <div class="layoutSanPham">
      <div class="row">
        <div
          class="col-3"
          ng-repeat="sptc in listSpTrangchu | filter: 'iphone14' : true"
        >
          <div class="card-col">
            <div class="card">
              <img
                src="../assets/img/{{sptc.img}}"
                class="card-img-top"
                alt=""
              />
              <div class="card-body">
                <p class="card-text">{{sptc.name}}</p>
                <p class="card-body-gia">{{sptc.price}} vnđ</p>
              </div>
              <div class="danhgia">
                <img
                  src="../../assets/bootstrap-icons-1.10.3/star-fill.svg"
                  alt=""
                />
                <img
                  src="../../assets/bootstrap-icons-1.10.3/star-fill.svg"
                  alt=""
                />
                <img
                  src="../../assets/bootstrap-icons-1.10.3/star-fill.svg"
                  alt=""
                />
                <img
                  src="../../assets/bootstrap-icons-1.10.3/star-fill.svg"
                  alt=""
                />
                <img
                  src="../../assets/bootstrap-icons-1.10.3/star-half.svg"
                  alt=""
                />
                <button
                  type="button"
                  class="btn btn-warning"
                  ng-click="themvaogiohang($event, $index)"
                >
                  Them vao gio hang
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <hr />
      <h4 id="tenqc">ƯU ĐÃI THANH TOÁN</h4>
      <div class="col-3">
        <img
          src="../../assets/anh-slide/thanhtoan1.jpg"
          alt=""
          class="uudaithanhtoan"
        />
      </div>
      <div class="col-3">
        <img
          src="../../assets/anh-slide/thanhtoan2.jpg"
          alt=""
          class="uudaithanhtoan"
        />
      </div>
      <div class="col-3">
        <img
          src="../../assets/anh-slide/thanhtoan3.jpg"
          alt=""
          class="uudaithanhtoan"
        />
      </div>
      <div class="col-3">
        <img
          src="../../assets/anh-slide/thanhtoan4.png"
          alt=""
          class="uudaithanhtoan"
        />
      </div>
    </div>
  </div>
</section>
