<section>
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <h3>About Us</h3>
          <span
            >Nam libero tempore, cum soluta nobis est eligendi optio cumque
            nihil impedit quo minus id quod maxime placeat facere
            possimus.</span
          >
        </div>
        <div class="col-3">
          <h3>Menu</h3>
          <p>
            <a class="nav-link active" aria-current="page" href="#"> Home </a>
          </p>
          <p>
            <a class="nav-link active" aria-current="page" href="#"> Kitchen</a>
          </p>
          <p>
            <a class="nav-link active" aria-current="page" href="#">
              Personal Care
            </a>
          </p>
          <p>
            <a class="nav-link active" aria-current="page" href="#">
              Household
            </a>
          </p>
          <p>
            <a class="nav-link active" aria-current="page" href="#">
              Short Codes</a
            >
          </p>
          <p>
            <a class="nav-link active" aria-current="page" href="#">
              Contact
            </a>
          </p>
        </div>
        <div class="col-3">
          <h3>Customer Services</h3>
          <p>
            <a class="nav-link active" aria-current="page" href="#">
              Shipping
            </a>
          </p>
          <p>
            <a class="nav-link active" aria-current="page" href="#">
              Terms & Conditions</a
            >
          </p>
          <p>
            <a class="nav-link active" aria-current="page" href="#"> Faqs </a>
          </p>
          <p>
            <a class="nav-link active" aria-current="page" href="#">
              Contact
            </a>
          </p>
          <p>
            <a class="nav-link active" aria-current="page" href="#">
              Online Shopping</a
            >
          </p>
        </div>
        <div class="col-3">
          <h3>My Account</h3>

          <p>
            <a class="nav-link active" aria-current="page" href="#"> Login </a>
          </p>
          <p>
            <a class="nav-link active" aria-current="page" href="#">
              Register
            </a>
          </p>
          <p>
            <a class="nav-link active" aria-current="page" href="#">
              Wishlist
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
